doctype html
html
    head
        style
            include ../public/stylesheets/style.css
        title Teknia Order Form
        link(rel="stylesheet" type="text/css" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css")
    body
        div.banner
            h1.bannerText Form pemesanan Teknia
        div.mainForm
            form(method="POST", action="/submit")
                .perlabel
                    label(for = "seller") Kode Penjual:
                    input(type = "text", name = "seller")
                br
                .perlabel
                    label(for = "name") Nama:
                    input(type = "text", name = "name")
                br
                .perlabel
                    label(for = "phone") No Telp:
                    input(type = "text", name = "phone")
                br
                .perlabel
                    label(for = "address") Alamat:
                    input(type = "text", name = "address")
                br
                .perlabel
                    label(for = "city") Kota:
                    input(type = "text", name = "city")
                br
                .perlabel
                    label(for = "state") Provinsi:
                    input(type = "text", name = "state")
                br
                .perlabel
                    label(for = "shipping") Pemilihan kurir
                    .radiocontainer
                        input(type = "radio", name = "shipping", id="jnt", value="jnt")
                        label(for = "jnt") J&T
                    br
                    .radiocontainer
                        input(type = "radio", name = "shipping", id="ninja", value="ninja")
                        label(for = "ninja") NinjaVan
                br
                input.pure-button.pure-button-primary.margin-top-20.margin-left-20(type = "submit", name = "submit", value = "submit") 