doctype html
html
    head
        style
            include ../public/stylesheets/style.css
        title Teknia Order Form
        link(rel="stylesheet" type="text/css" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    body
        div.banner
            h1.bannerText Form pemesanan Teknia
        div.mainForm
            form(method="POST", action="/submit")
                script.
                    var msgStr = !{JSON.stringify(msg)};
                    alert(msgStr)
                .perlabel
                    label(for = "seller") Kode Penjual:
                    input(type = "text", name = "seller")
                br
                .perlabel
                    label(for = "name") Nama Penerima:
                    input(type = "text", name = "name")
                br
                .perlabel
                    label(for = "phone") No Telp Penerima:
                    input(type = "text", name = "phone")
                br
                .perlabel
                    label(for = "address") Alamat Lengkap Penerima:
                    input(type = "text", name = "address")
                br
                .perlabel
                    label(for = "address_id") Kec/Kota/Provinsi Penerima:
                    input(name='address_id', id='address_id', list = 'addresslist')
                    datalist(id='addresslist')
                        each id, addr in Addresses ? Addresses : []
                            option= addr
                br
                .perlabel
                    label(for = "shipping") Pemilihan kurir
                    .radiocontainer
                        input(type = "radio", name = "shipping", id="jnt", value="jnt")
                        label(for = "jnt") J&T
                    br
                    .radiocontainer
                        input(type = "radio", name = "shipping", id="ninja", value="ninja", disabled = true)
                        label(for = "ninja") NinjaVan (DALAM PERBAIKAN)

                .wrapper
                  input.pure-button.pure-button-primary.margin-top-20.margin-left-20(type = "submit", value = "BUAT PESANAN", onclick = "this.disabled=true;this.form.submit();this.value='Submiting...';") 
        div.banner
            h1.bannerText Cek Status Pesanan
        div.checkOrder
            form(method="POST", action="/checkorder")
                .perlabel
                    label(for = "checkSid") Kode Penjual:
                    input(type = "text", name = "checkSid")
                .wrapper
                  input.pure-button.pure-button-primary.margin-top-20.margin-left-20(type = "submit", value = "CEK PESANAN", onclick = "this.disabled=true;this.form.submit();this.value='Submiting...';") 