doctype html
html
    head
        style
            include ../public/stylesheets/style.css
        title Login Form
        link(rel="stylesheet" type="text/css" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css")
    body
        div.mainForm
            form(method="POST", action="/submit")
                div
                    label(for = "name") Nama:
                    input(type = "text", name = "name")
                br
                div
                    label(for = "phone") No Telp:
                    input(type = "text", name = "phone")
                br
                div
                    label(for = "address") Alamat:
                    input(type = "text", name = "address")
                br
                div
                    label(for = "city") Kota:
                    input(type = "text", name = "city")
                br
                div
                    label(for = "state") Provinsi:
                    input(type = "text", name = "state")

				
                input.pure-button.pure-button-primary(type = "submit", name = "submit", value = "submit") 