doctype html
html
    head
        style
            include ../public/stylesheets/style.css
        title Thank you for your response
    body
        .banner
            h3.bannerText Terima kasih atas pemesanannya
        .thankyouContainer
            h2 Kami akan memproses pesanan anda dan hubungi dalam 3 hari kerja 