body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:papayawhip;
}

a {
  color: #00B7FF;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerText {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 36px;

}

.mainForm {
  margin: auto;
  max-width: 40%;
}

.perlabel {
  display: flex;
  /* align-items: flex-start; */
  justify-content:  space-between;
}

.perlabel label {

  margin: 4px 20px;
}

.radiocontainer {
  display: inline-grid;
  /* tells the auto-placement algorithm to attempt to fill in holes earlier in the grid if smaller items come up later */
  grid-auto-flow: row;
  align-items: center;
}

.radiocontainer label {
  grid-column: 2;
}

/* Utilities classes */
.margin-top-20 {
  margin-top: 20px;
}
.margin-left-20 {
  margin-top: 20px;
}